body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: aqua;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f8f9fa;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

li button {
    background: #dc3545;
    border: none;
    color: white;
    cursor: pointer;
}

li button:hover {
    background: #c82333;
}